---
import { ViewTransitions } from "astro:transitions";
import Footer from "~/components/footer/index.astro";
import Navbar from "~/components/navbar";
import NavLink from "~/components/nav-link/index.astro";

import "@fontsource/jost";
import "~/styles.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <a href="#content" class="tw-sr-only focus:tw-not-sr-only skip-link">
        Skip to content
      </a>
      <Navbar client:load>
        <NavLink href="/about/">About Us</NavLink>
        <NavLink href="/menu/">Menu</NavLink>
        <NavLink href="/contact/">Contact</NavLink>
        <NavLink href="/picture-gallery/">Picture Gallery</NavLink>
      </Navbar>
    </header>

    <slot />
    <Footer />
    <style>
      .skip-link:focus {
        z-index: 99999;
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 12px 24px;
        background-color: #eee;
        color: #333;
        font-size: 1rem;
      }
    </style>
  </body>
</html>
