---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Twenty One Southend – Venue, Cafe & Cultural Centre</title>
  </head>
  <body>
    <h1>
      Welcome to Twenty One – a wonderful venue, exhibition space and café & bar
      on Southend seafront
    </h1>
  </body>
</html>
