---
import Layout from "~/components/layout/index.astro";
import Main from "~/components/main/index.astro";
---

<Layout title="Twenty One Southend – Venue, Cafe & Cultural Centre">
  <Main class="tw-container">
    <h1>
      Welcome to Twenty One – a wonderful venue, exhibition space and café & bar
      on Southend seafront
    </h1>
  </Main>
</Layout>

<style>
  h1 {
    color: var(--color-be88c48);
    font-weight: 600;
    font-size: 68px;
    line-height: 1.4em;
    letter-spacing: -0.3px;
  }
</style>
