<footer>
  <nav>
    <a href="/policy-page/">Policy Page</a>
    <a href="https://www.facebook.com/TwentyOneSouthend">Facebook</a>
    <a href="https://www.instagram.com/twentyone_southend/">Instagram</a>
  </nav>
  <div class="tw-text-sm">© Copyright 2024 Twenty One</div>
</footer>

<style>
  footer {
    padding-block: 1rem;
    background-color: var(--color-be88c48);
    color: #fa711a;
    text-align: center;
  }

  nav {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    padding: 5px 13px;
    line-height: 15px;
    letter-spacing: 0.1;
  }
</style>
