---
import Layout from "~/components/layout/index.astro";
import Main from "~/components/main/index.astro";
---

<Layout title="Page not found – Twenty One Southend">
  <Main class="tw-container">
    <h1>The page can't be found.</h1>

    <p>It looks like nothing was found at this location.</p>
  </Main>
</Layout>

<style>
  h1 {
    margin-block-start: 0.5rem;
    margin-block-end: 1rem;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.2;
  }
</style>
