@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #105071;
    --color-secondary: #669fa2;
    --color-text: #7a7a7a;
    --color-accent: #61ce70;
    --color-69f8470: #ff3322dd;
    --color-52c6f65: #fa711a;
    --color-699d054: #0000ff;
    --color-3ad05dc: #30941f;
    --color-32d31ad: #ff3322dd;
    --color-9ca4460: #008e8c;
    --color-26e0e2b: #f6f5f5;
    --color-d41e868: #105071;
    --color-586539d: #fcfcfc;
    --color-6783420: #ffffff;
    --color-855099a: #97e989;
    --color-c060b27: #41099b;
    --color-bc2b0a4: #2e385f;
    --color-71700b6: #fcb404;
    --color-2d3b688: #669fa2;
    --color-20fcde8: #2e385f;
    --color-82cdbb5: #d83bbb;
    --color-be88c48: #112f7b;
    --color-8d35859: #008e8c;
    --color-dd8ca6e: #e3dddd;
    --typography-primary-font-family: "Jost";
    --typography-primary-font-size: 68px;
    --typography-primary-font-weight: 600;
    --typography-primary-line-height: 1.4em;
    --typography-primary-letter-spacing: -0.3px;
    --typography-secondary-font-family: "Jost";
    --typography-secondary-font-size: 24px;
    --typography-secondary-font-weight: 600;
    --typography-secondary-line-height: 25px;
    --typography-secondary-letter-spacing: -0.3px;
    --typography-text-font-family: "Jost";
    --typography-text-font-size: 18px;
    --typography-text-font-weight: 400;
    --typography-text-line-height: 20px;
    --typography-text-letter-spacing: 0.1px;
    --typography-accent-font-family: "Jost";
    --typography-accent-font-weight: 500;
    --typography-cf4c624-font-family: "Jost";
    --typography-cf4c624-font-size: 15px;
    --typography-cf4c624-font-weight: 600;
    --typography-cf4c624-line-height: 15px;
    --typography-cf4c624-letter-spacing: 0.3px;
    --typography-2387af4-font-family: "Arial";
    --typography-2387af4-font-size: 22px;
    --typography-2387af4-font-weight: 400;
    --typography-2387af4-line-height: 41px;
    --typography-59e0da3-font-family: "Jost";
    --typography-59e0da3-font-size: 60px;
    --typography-59e0da3-font-weight: 600;
    --typography-59e0da3-line-height: 1.4em;
    --typography-59e0da3-letter-spacing: -0.3px;
    --typography-5b7cea0-font-family: "Jost";
    --typography-5b7cea0-font-size: 24px;
    --typography-5b7cea0-font-weight: 400;
    --typography-5b7cea0-line-height: 1.4em;
    --typography-5b7cea0-letter-spacing: 4.2px;
    --typography-4a1c3f4-font-family: "Jost";
    --typography-4a1c3f4-font-size: 22px;
    --typography-4a1c3f4-font-weight: 300;
    --typography-4a1c3f4-line-height: 41px;
    --typography-4a1c3f4-letter-spacing: 0.1px;
    --typography-1aad30a-font-family: "Jost";
    --typography-1aad30a-font-size: 35px;
    --typography-1aad30a-font-weight: 400;
    --typography-1aad30a-line-height: 1.4em;
    --typography-1aad30a-letter-spacing: -0.3px;
    --typography-1afda15-font-family: "Jost";
    --typography-1afda15-font-size: 22px;
    --typography-1afda15-font-weight: 400;
    --typography-1afda15-line-height: 41px;
    --typography-1afda15-letter-spacing: 0.1px;
    --typography-09e23a9-font-family: "Jost";
    --typography-09e23a9-font-size: 35px;
    --typography-09e23a9-font-weight: 400;
    --typography-09e23a9-line-height: 1.4em;
    --typography-09e23a9-letter-spacing: -0.3px;
    --typography-ec361ed-font-family: "Jost";
    --typography-ec361ed-font-size: 18px;
    --typography-ec361ed-font-weight: 400;
    --typography-ec361ed-line-height: 1.4em;
    --typography-ec361ed-letter-spacing: 0.1px;
    --typography-a002c3f-font-family: "Jost";
    --typography-a002c3f-font-size: 31px;
    --typography-a002c3f-font-weight: 400;
    --typography-a002c3f-line-height: 43px;
    --typography-a002c3f-letter-spacing: -0.3px;
    --typography-9e3cbbd-font-family: "Jost";
    --typography-9e3cbbd-font-size: 22px;
    --typography-9e3cbbd-font-weight: 400;
    --typography-9e3cbbd-line-height: 41px;
    --typography-9e3cbbd-letter-spacing: 0.1px;
    --typography-a6d4a60-font-family: "Jost";
    --typography-a6d4a60-font-size: 26px;
    --typography-a6d4a60-font-weight: 400;
    --typography-a6d4a60-line-height: 37px;
    --typography-a6d4a60-letter-spacing: 0.1px;
    --typography-0f3aa8f-font-family: "Jost";
    --typography-0f3aa8f-font-size: 37px;
    --typography-0f3aa8f-font-weight: 400;
    --typography-0f3aa8f-line-height: 43px;
    --typography-0f3aa8f-letter-spacing: -0.3px;
    --typography-d6eeb50-font-family: "Jost";
    --typography-d6eeb50-font-size: 22px;
    --typography-d6eeb50-font-weight: 400;
    --typography-d6eeb50-line-height: 35px;
    --typography-d6eeb50-letter-spacing: 0.1px;
    --typography-08758cf-font-family: "Jost";
    --typography-08758cf-font-size: 55px;
    --typography-08758cf-font-weight: 600;
    --typography-08758cf-line-height: 1.4em;
    --typography-08758cf-letter-spacing: -0.3px;
    --typography-a2f57c4-font-family: "Jost";
    --typography-a2f57c4-font-size: 35px;
    --typography-a2f57c4-font-weight: 400;
    --typography-a2f57c4-line-height: 1.4em;
    --typography-a2f57c4-letter-spacing: -0.3px;
    --typography-8f3fd6b-font-family: "Jost";
    --typography-8f3fd6b-font-size: 37px;
    --typography-8f3fd6b-font-weight: 400;
    --typography-8f3fd6b-line-height: 1.4em;
    --typography-8f3fd6b-letter-spacing: -0.3px;
    --typography-d53bfa4-font-family: "Jost";
    --typography-d53bfa4-font-size: 26px;
    --typography-d53bfa4-font-weight: 400;
    --typography-d53bfa4-line-height: 37px;
    --typography-d53bfa4-letter-spacing: 0.1px;
  }
}

/* @layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
} */
