---
import Layout from "~/components/layout/index.astro";
import Main from "~/components/main/index.astro";

const res = await fetch(
  `${import.meta.env.PUBLIC_URL}/wp-json/wp/v2/pages/170`
);
const policy = await res.json();
---

<Layout title="Menu – Twenty One Southend">
  <Main class="tw-container tw-text-[var(--color-text)]">
    <h1 class="tw-sr-only">Menu</h1>
    <Fragment set:html={policy.content.rendered} />
  </Main>
</Layout>

<style>
  main :global(h2) {
    color: var(--color-be88c48);
    font-weight: 600;
    font-size: var(--typography-08758cf-font-size);
  }
</style>
